.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
  background-color: #9ccef4;
  margin-left: 0;
  display: flex;
  flex-direction: column;
}

.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Search bar */

/* Current weather */

div {
  border: none;
}
header {
  background-color: #759eda;
  height: 10%;
  width: 100%;
  color: white;
  display: flex;
}
.input {
  background-color: #759eda;
  color: white;
  height: 30%;
  align-self: center;
  margin-right: 1%;
  margin-left: 0.5%;
  width: 20%;
  outline: none;
  border: none;
  border-bottom: 1px blue solid;
}
button {
  height: 50%;
  align-self: center;
  background-color: #5879c7;
  border: none;
  padding: 10px;
}
.body {
  height: 100%;
  display: grid;
  grid-template-rows: 60% 40%;
}
.mainWeather {
  display: grid;
  grid-row: 1/2;
  align-content: center;
}
.weather {
  display: flex;
  grid-row: 2/3;
  justify-content: space-around;
  align-content: center;
  width: 80%;
  align-self: center;
  margin: auto;
}
.weather div {
  display: grid;
  justify-items: center;
}

h1 {
  font-family: "Raleway", sans-serif;
}
.mainImage {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
}
.Temp,
.Pressure {
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin: auto;
}
.Temp {
  margin-bottom: 4%;
}
.downImage {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
}
